<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/accountCreated.css">

    <title>Account Created</title>
</head>
<body>

    <div class="container">
        <h2>Kasutajakonto edukalt loodud!</h2>
        <a href="/login"><button>Sisse logima</button></a>
    </div>

</body>
</html>