<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-panel.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <title>Project Fullview</title>
</head>

<body>

    <nav class="navbar">
        <img src="/img/proovikivi_logo.png" alt="proovikivi logo">
        <button class="hamburger" id="hamburger">
            <i class="fas fa-bars"></i>
        </button>
        <div class="menu" id="menu">
            <ul>
                <li><a href="/project-form">Loo projekt</a></li>
                <li><a href="/projects">Projektid</a></li>
                <li><a href="https://proovikivi.ee/portfoolio/">Proovikivid</a></li>
                <li><a href="/profile">Minu profiil</a></li>
                <li><a href="/logout">Logi välja</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <h1>Admin: Populate Lookup Tables</h1>
        <p>
            Paste or type one entry per line into each of the fields below. When you click “Submit,” the server will:
            <ol>
            <li>Split each box by newline.</li>
            <li>Trim out any empty lines.</li>
            <li>Issue the corresponding INSERT statements for each table.</li>
            </ol>
            If any rows already exist (e.g. you ran this before), the backend should be prepared to either skip duplicates or update as needed.
        </p>

        <form action="/admin/panel" method="POST">
            <!--
            FIELDSET 1: Gender
            Each line becomes one INSERT INTO gender (name) VALUES ('line');
            -->
            <fieldset>
            <legend>1) Genders</legend>
            <label for="genders">Enter one gender per line:</label>
            <textarea id="genders" name="genders" placeholder="
        Mees
        Naine
        Muu / ei soovi avaldada
        ">Mees
        Naine
        Muu / ei soovi avaldada</textarea>
            <div class="help">
                – The “gender” table has columns (id, name).<br />
                – The server will insert each non‐blank line as a new “name” row. <br />
                – If you want to change or add more options, simply edit or append lines here.
            </div>
            </fieldset>

            <!--
            FIELDSET 2: User Types
            Each line becomes INSERT INTO user_type (name) VALUES ('line');
            -->
            <fieldset>
            <legend>2) User Types</legend>
            <label for="userTypes">Enter one user‐type per line:</label>
            <textarea id="userTypes" name="userTypes" placeholder="
        Õpilane
        Juhendaja (õpetaja, noorsootöötaja vms)
        Muu
        ">Õpilane
        Juhendaja (õpetaja, noorsootöötaja vms)
        Muu</textarea>
            <div class="help">
                – The “user_type” table is AUTO_INCREMENT on “id,” so we only need to supply “name.”<br />
                – Add or remove lines to control which user types exist.
            </div>
            </fieldset>

            <!--
            FIELDSET 3: School Subjects
            Each line becomes INSERT INTO school_subject (name) VALUES ('line');
            -->
            <fieldset>
            <legend>3) School Subjects</legend>
            <label for="schoolSubjects">Enter one subject per line:</label>
            <textarea id="schoolSubjects" name="schoolSubjects" placeholder="
        Eesti keel
        Kirjandus
        Inimeseõpetus
        Kodulugu
        Üldõpetus
        Ühiskonnaõpetus
        Ajalugu
        Inglise keel
        Prantsuse keel
        Vene keel
        Soome keel
        Rootsi keel
        Hispaania keel
        Saksa keel
        Jaapani keel
        Mandarini / hiina keel
        Ladina keel
        Matemaatika
        Füüsika
        Keemia
        Bioloogia
        Geograafia
        Loodusõpetus
        Kehaline kasvatus / liikumisõpetus
        Muusika
        Kunstiõpetus
        Globaliseeruv maailm
        Ettevõtlusõpe
        Majandus
        Usundi- või religiooniõpetus
        Filosoofia
        Psühholoogia
        Disainmõtlemine
        Loovkirjutamine
        Kõneõpetus
        Kogukonnapraktika
        Ennastjuhtiv õppija
        Maailmaharidus
        Joonestamine
        Meedia
        Muu (nt valikaine, ülikooli kursus vms)
        ">Eesti keel
        Kirjandus
        Inimeseõpetus
        Kodulugu
        Üldõpetus
        Ühiskonnaõpetus
        Ajalugu
        Inglise keel
        Prantsuse keel
        Vene keel
        Soome keel
        Rootsi keel
        Hispaania keel
        Saksa keel
        Jaapani keel
        Mandarini / hiina keel
        Ladina keel
        Matemaatika
        Füüsika
        Keemia
        Bioloogia
        Geograafia
        Loodusõpetus
        Kehaline kasvatus / liikumisõpetus
        Muusika
        Kunstiõpetus
        Globaliseeruv maailm
        Ettevõtlusõpe
        Majandus
        Usundi- või religiooniõpetus
        Filosoofia
        Psühholoogia
        Disainmõtlemine
        Loovkirjutamine
        Kõneõpetus
        Kogukonnapraktika
        Ennastjuhtiv õppija
        Maailmaharidus
        Joonestamine
        Meedia
        Muu (nt valikaine, ülikooli kursus vms)</textarea>
            <div class="help">
                – Each non‐empty line becomes one row in `school_subject(name)`. <br />
                – Leave blank lines out (they will be skipped).
            </div>
            </fieldset>

            <!--
            FIELDSET 4: Global Goals
            Each line becomes INSERT INTO global_goal (image, title) VALUES ('', 'line');
            -->
            <fieldset>
            <legend>4) Global Goals (Proovikivi “Üleilmne eesmärk”)</legend>
            <label for="globalGoals">Enter one global goal title per line (images will be empty):</label>
            <textarea id="globalGoals" name="globalGoals" placeholder="
        Kaotada vaesus
        Kaotada nälg
        Hea tervis ja heaolu
        Kvaliteetne haridus
        Sooline võrdõiguslikkus
        Puhas vesi ja sanitaartingimused
        Taskukohane ja puhas energia
        Inimväärne töö ja majanduskasv
        Tööstus, innovatsioon ja taristu
        Ebavõrdsuse vähendamine
        Kestlikud linnad ja kogukonnad
        Vastutustundlik tootmine ja tarbimine
        Kliimameetmed
        Ookeani- ja mereökosüsteemid
        Elurikkus ja maismaa-ökosüsteemid
        Rahu, õiguskaitse ja tugevad institutsioonid
        Üleilmne koostöö eesmärkide saavutamiseks
        Kultuur
        ">Kaotada vaesus
        Kaotada nälg
        Hea tervis ja heaolu
        Kvaliteetne haridus
        Sooline võrdõiguslikkus
        Puhas vesi ja sanitaartingimused
        Taskukohane ja puhas energia
        Inimväärne töö ja majanduskasv
        Tööstus, innovatsioon ja taristu
        Ebavõrdsuse vähendamine
        Kestlikud linnad ja kogukonnad
        Vastutustundlik tootmine ja tarbimine
        Kliimameetmed
        Ookeani- ja mereökosüsteemid
        Elurikkus ja maismaa-ökosüsteemid
        Rahu, õiguskaitse ja tugevad institutsioonid
        Üleilmne koostöö eesmärkide saavutamiseks
        Kultuur</textarea>
            <div class="help">
                – Because `global_goal.image` is a BLOB and NOT NULL, the backend will insert an empty blob (`''`) by default. <br />
                – Each line here becomes a new `title` in the `global_goal` table.
            </div>
            </fieldset>

            <!--
            FIELDSET 5: Proovikivid
            Each line becomes INSERT INTO proovikivi (title, image, goal) VALUES ('line','',NULL);
            -->
            <fieldset>
            <legend>5) Proovikivid (Project Ideas)</legend>
            <label for="proovikivid">Enter one project (proovikivi) title per line. (Image = empty, goal = NULL.)</label>
            <textarea id="proovikivid" name="proovikivid" placeholder="
        Energia julgeolek ja jätkusuutlikkus
        Mida teha, et vähendada Uuskasutuskeskusesse jõudvat tekstiili- ja majapidamiprügi hulka?
        Kuidas kohaneda kliimamuutustega ja neid pidurdada?
        Kas jäätmeteta elustiil on võimalik? Aga ringmajandus?
        Jätkusuutlik mood ehk kuidas muuta tekstiilitööstust nii, et see oleks inimesel ja planeedile hea?
        Kuidas muuta õiglase kaubanduse tooted Eestis populaarseks?
        Kuidas uussisserändajate ja kohalike elanike omavahelist suhtlust ja läbikäimist suurendada minu linnas/vallas?
        Kuidas teha nii, et väljarände tõttu minu kodupaik tühjaks ei jää?
        Tour de food
        Kuidas eakate üksildust leevendada?
        Kas tulevikukool on internetis? Kuidas tagada kvaliteetne ja kättesaadav haridus muutuvas maailmas?
        Loome muusikalised aiad ja pargid - heliallikad, mis kajavad vastu!
        Kas kõik teavad mis on CRAP? Suurendame kriitilist meediatarbimist!
        Kuidas mitte olla vaene?
        Kuidas tõsta noorte teadlikkust osalusdemokraatias ning suurendada kaasatust ühiskondlikku tegevusse?
        Õnnelikuma Eesti nimel: Tõstame teadlikkust ja oskusi tervise tugevdamiseks!
        Mida teha selleks, et inimesed toituksid tervislikumalt?
        Lõpetame (küber)kiusamise!
        Mida teha selleks, et ühiskond oleks sidus?
        ">Energia julgeolek ja jätkusuutlikkus
        Mida teha, et vähendada Uuskasutuskeskusesse jõudvat tekstiili- ja majapidamiprügi hulka?
        Kuidas kohaneda kliimamuutustega ja neid pidurdada?
        Kas jäätmeteta elustiil on võimalik? Aga ringmajandus?
        Jätkusuutlik mood ehk kuidas muuta tekstiilitööstust nii, et see oleks inimesel ja planeedile hea?
        Kuidas muuta õiglase kaubanduse tooted Eestis populaarseks?
        Kuidas uussisserändajate ja kohalike elanike omavahelist suhtlust ja läbikäimist suurendada minu linnas/vallas?
        Kuidas teha nii, et väljarände tõttu minu kodupaik tühjaks ei jää?
        Tour de food
        Kuidas eakate üksildust leevendada?
        Kas tulevikukool on internetis? Kuidas tagada kvaliteetne ja kättesaadav haridus muutuvas maailmas?
        Loome muusikalised aiad ja pargid - heliallikad, mis kajavad vastu!
        Kas kõik teavad mis on CRAP? Suurendame kriitilist meediatarbimist!
        Kuidas mitte olla vaene?
        Kuidas tõsta noorte teadlikkust osalusdemokraatias ning suurendada kaasatust ühiskondlikku tegevusse?
        Õnnelikuma Eesti nimel: Tõstame teadlikkust ja oskusi tervise tugevdamiseks!
        Mida teha selleks, et inimesed toituksid tervislikumalt?
        Lõpetame (küber)kiusamise!
        Mida teha selleks, et ühiskond oleks sidus?</textarea>
            <div class="help">
                – The `proovikivi` table has columns `(id, title, image, goal)`.  
                – We insert `title` from each line; `image` becomes an empty BLOB (`''`) and `goal` is set to `NULL`.  
                – Add or remove lines here to control the “project ideas” in the database.
            </div>
            </fieldset>

            <!--
            FIELDSET 6: Locations
            Each line becomes INSERT INTO location (name) VALUES ('line');
            -->
            <fieldset>
            <legend>6) Locations (Asukohad)</legend>
            <label for="locations">Enter one location per line:</label>
            <textarea id="locations" name="locations" placeholder="
        Tallinn
        Tartu
        Narva
        Pärnu
        Harju maakond
        Hiiu maakond
        Ida-Viru maakond
        Jõgeva maakond
        Järva maakond
        Lääne maakond
        Lääne-Viru maakond
        Põlva maakond
        Pärnu maakond
        Rapla maakond
        Saare maakond
        Tartu maakond
        Valga maakond
        Viljandi maakond
        Võru maakond
        ">Tallinn
        Tartu
        Narva
        Pärnu
        Harju maakond
        Hiiu maakond
        Ida-Viru maakond
        Jõgeva maakond
        Järva maakond
        Lääne maakond
        Lääne-Viru maakond
        Põlva maakond
        Pärnu maakond
        Rapla maakond
        Saare maakond
        Tartu maakond
        Valga maakond
        Viljandi maakond
        Võru maakond</textarea>
            <div class="help">
                – Each non‐empty line becomes one row in `location(name)`.  
                – Adjust as needed to add or remove counties/cities.
            </div>
            </fieldset>

            <button type="submit">Submit All Lookup Values</button>
        </form>
    </div>

   
    
</body>
</html>
