<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/password-reset.css">
    <link rel="stylesheet" href="/css/error-popup.css">
    
    <title>Parooli taastamine</title>

</head>
<body>
    <img src="/img/proovikivi_logo.png" alt="Proovikivi logo" class="pageLogo">

    <form method="post" class="formContainer">
        <label for="email">Sisesta e-post</label>
        <input type="email" id="email" name="email" required autocomplete="email">
        <div class="buttonContainer">
            <button type="back" onclick="window.history.back()" class="backButton">Tagasi</button>
            <button type="submit" class="submitButton">Saada</button>
        </div>
    </form>

    <!-- The Modal -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h4 id="modalMessage"></h4>
        </div>
    </div>

    <% if (typeof errorMessage !== 'undefined') { %>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var modal = document.getElementById("errorModal");
                var span = document.getElementsByClassName("close")[0];
                var message = "<%= errorMessage %>";
                document.getElementById("modalMessage").innerText = message;
                modal.style.display = "block";

                span.onclick = function() {
                    modal.style.display = "none";
                };

                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                };
            });
        </script>
    <% } %>
</body>
</html>
