<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/accountCreated.css">

    <title>Projekt Loodud</title>
</head>
<body>

    <div class="container">
        <h2>Projekt on edukalt loodud!</h2>
        <p>Teie projekt on edukalt loodud. Saate n체체d naasta avalehele v천i j채tkata muid tegevusi.</p>
        <a href="/projects"><button>Edasi</button></a>
    </div>

</body>
</html>