:root {
    --base-font-size: 10px; 
}

html {
    font-size: var(--base-font-size);
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 50em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    background-color: white;
    display: flex;
    font-weight: 450;
    padding-left: 0.625em;
    padding-top: 3em;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.navbar img {
    width: 21.5em;
    height: auto;
    margin-right: 1.5em;
    margin-left: 5%;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-left: 1em;
    margin-right: 1em;
}

.navbar a {
    text-decoration: none;
    color: #7d7d7d;
    font-size: 2em;
}

.navbar a:hover {
    color: #000088;
}

.content-container {
    width: 100%;
    max-width: 50em;
    padding: 1em;
    justify-content: center;
    margin: 0;
}

h1 {
    color: #000088;
    width: 100%;
    font-weight: 600;
    text-align: left;
    font-size: 4.5em;
}

p {/*asenda htmlis ja siin h2-ga*/
    text-align: left; 
    width: 100%;
    padding-left: 1%;
    color: #000000;
    font-size: 2.25em;
    font-weight: 600;
}

.dataContainer, .dataContainerT {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

label {
    width: 100%;
    font-size: 2.25em;
    font-weight: 600;
    text-align: left;
    padding-left: 2.5%;
}

input, select, textarea {
    width: 100%;
    font-size: 2em;
    border-radius: 0.625em;
    border: 0.0834em solid #7d7d7d;
    outline: none;
    box-sizing: border-box;
    margin-top: 0.25em;
    margin-bottom: 2em;
}

.dataContainer input, .dataContainer select {
    height: 2.75em;
}

.dataContainer select option[disabled] {
    text-align: center;
}

.dataContainer input::placeholder,
.dataContainer select::placeholder {
    text-align: center;
}

.dateContainer {
    display: flex;
    justify-content: center;
}

.dateInputContainer {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
    flex-direction: column;
    width: 50%;
    margin-right: 5%;
}

.dateInputContainer:last-child {
    margin-right: 0;
    width: 50%;
}

.dateInputContainer input,
.dateInputContainer select {
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
    font-size: 18px;
    border-radius: 15px;
    padding: 3px 12px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
}

.dateInputContainer input:focus,
.dateInputContainer select:focus {
    border-color: #000088;
}

textarea {
    height: 15em;
    resize: vertical;
    font-size: 2em;
    padding: 0.75em;
    margin-bottom: 0.5em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #7d7d7d;
}

.char-counter {
    width: 100%;
    text-align: right;
    font-size: 2em;
    color: #7d7d7d;
    font-weight: 400;
    margin-bottom: 1.5em;
}

input:focus, select:focus {
    border-color: #000088;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-buttons, .submitButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.left-buttons button {
    max-width: 36%;
    width: 10.28125em;
    background-color: #ffffff;
    color: #000000;
    font-size: 2.3125em;
    font-weight: 600;
    height: 2.3125em;
    border-radius: 0.667em;
    cursor: pointer;
}

.submitButtonContainer button {
    width: 100%;
    background-color: #000088;
    color: white;
    font-size: 3.5em;
    height: 1.75em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

.left-buttons button:hover {
    background-color: #000088;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.submitButtonContainer button:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


#institutionsDropdown {
    border: 1px solid #ccc;
    border-radius: 15px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    width: 80%;
    height: 45px;
    margin-bottom: 12px;
    font-size: 18px;
    padding: 3px 12px;
    outline: none;
}

.dropdown-item {
    padding: 8px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.tag-input-container {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 640px;
    height: 45px;
}

.tag-input {
    width: calc(100% - 50px);
    height: 100%;
    font-size: 18px;
    border-radius: 15px;
    padding: 3px 12px;
    border: 1px solid #ccc;
    outline: none;
    box-sizing: border-box;
    margin-right: 10px;
}

.tag-input-button {
    width: 50px;
    height: 100%;
    padding: 0;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.tag-input-button:hover {
    background-color: #0056b3;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.tag {
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.remove-tag {
    margin-left: 10px;
    cursor: pointer;
    color: red;
}

.dataInputHeading {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: left;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 40px;
}

#lisatudSildidHeader {
    text-align: left;
    margin-top: 10px;
    font-size: 1.2em;
    display: block;
    color: #333;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 40px;
}
