:root {
    --base-font-size: 10px; 
}

html {
    font-size: var(--base-font-size);
}

body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLogo {
    position: absolute;
    width: 40em;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 5em;
    margin-left: 5%;
}

.formContainer {
    display: flex; 
    flex-direction: column; 
    width: 45em;
    border-radius: 3.5em;
    padding-top: 6em;
    padding-bottom: 6em;
    padding-left: 8em;
    padding-right: 8em;
    margin-top: 5em;
    background-size: cover;
    background-position: center;
    background-image: url('/img/Frosted-Glass-2.png');
}

input, label {
    display: flex;
}

h1 {
    font-size: 4.75em;
    font-weight: 600;
    color: #000088;
    margin: 0;
    margin-bottom: 0.3em;
}

label {
    font-size: 2.5em;
    font-weight: 550;
    color: #000000;
    margin: 0;
    margin-left: 0.2em;
    padding: 0;
}

input {
    max-width: 100%;
    height: 3em;
    font-size: 2em;
    border-radius: 1em;
    margin-bottom: 1.25em;
    margin-top: 0.5em;
    padding: 0;
    border: none;
    padding-left: 1em;
}

input:focus, input:focus-visible {/*pole õrna aimugi miks ei tööta*/
    border: #000088!important;
}

.buttonContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
    
.backButton:hover, .submitButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.submitButton {
    width: 100%;
    background-color: #000088;
    color: #ffffff;
    box-shadow: none;
    border: none;
    font-size: 2.5em;
    font-weight: 550;
    height: 2.5em;
    border-radius: 0.6em;
    margin-top: 0.125em ;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    .formContainer {
        width: 90%;
        padding: 3em 6em;
        margin: 0 1em;
    }
    
    .pageLogo {
        width: 60%;
        margin-top: 2em;
        margin-left: 10%;
    }

    label {
        font-size: 1.75em;
    }

    input {
        height: 2.5em;
        font-size: 1.5em;
        margin-bottom: 1em;
        margin-top: 0.5em;
        padding-left: 0.5em;
        width: 95%;
    }

    .submitButton {
        width: 100%;
        font-size: 1.5em;
        height: 2.5em;
    }
 
}