:root {
    --base-font-size: 16px; 
}

html {
    font-size: var(--base-font-size);
}

body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLogo {
    position: absolute;
    width: 20rem;
    height: auto;
    top: 0;
    left: 0;
    padding: 1.5rem;
}

.formContainer {
    display: flex; 
    flex-direction: column; 
    border-radius: 1.6125rem;
    padding-top: 2.25rem;
    padding-bottom: 2.3125rem;
    padding-left: 2.6125rem;
    padding-right: 2.6125rem;
    background-size: cover;
    background-position: center;
    background-image: url('/img/Frosted-Glass-2.png');
}

input, label {
    display: flex;
}

label {
    font-size: 2.5rem;
    font-weight: 550;
    color: #000088;
}

input {
    width: 100%;
    height: 3.3125rem;
    font-size: 2rem;
    border-radius: 1rem;
    margin-bottom: 1.6125rem;
    margin-top: 1.125rem;
    padding: 0;
    border: 0!important;
}

input:active{
    padding: 0;
}

.buttonContainer{
    width: 25rem;
    display: flex;
    justify-content: space-between;
}
    
.backButton:hover, .submitButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.backButton {
    width: 9.125rem;
    background-color: #ffffff;
    color: #000000;
    box-shadow: none;
    border:none;
    font-size: 1.5rem;
    font-weight: 550;
    height: 2.8125rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 3.75rem;
}

.submitButton {
    width: 9.125rem;
    background-color: #000088;
    color: #ffffff;
    box-shadow: none;
    border:none;
    font-size: 1.5rem;
    font-weight: 550;
    height: 2.8125rem;
    border-radius: 1rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .formContainer {
        width: 75%;
        padding: 2rem;
        margin: 0 0.75rem;
    }
    
    .pageLogo {
        width: 17rem;
        padding: 1rem;
    }

    label {
        font-size: 2rem;
    }

    input {
        height: 2.5rem;
        font-size: 1.125rem;
        margin-bottom: 1rem;
        margin-top: 0.6125rem;

    }

    .backButton, .submitButton {
        width: 33%;
        font-size: 1.125rem;
        height: 2.5rem;
    }
    .buttonContainer{
        width: 17rem;
        display: flex;
        justify-content: space-between;
    }
}