:root {
    --base-font-size: 10px; 
}

html {
    font-size: var(--base-font-size);
}
/*circle back*/
body, html {
    font-family: 'Inter', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLogo {
    position: absolute;
    width: 42em;
    height: auto;
    top: 0;
    left: 0;
    margin-top: 5em;
    margin-left: 5em;
}

.successPopup {
    display: flex; 
    flex-direction: column; 
    width: 45em;
    border-radius: 3em;
    padding-top: 4em;
    padding-bottom: 5em;
    padding-left: 6em;
    padding-right: 6em;
    background-size: cover;
    background-position: center;
    background-image: url('/img/Frosted-Glass-2.png')!important;
}

input, label {
    display: flex;
}

h1 {
    font-size: 4.5em;
    font-weight: 600;
    color: #000088;
    margin: 0;
}

.submitButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    margin-top: 2em;
    background-color: #000088;
    color: #ffffff;
    box-shadow: none;
    border:none;
    font-size: 2.5em;
    font-weight: 550;
    height: 2.5em;
    border-radius: 0.667em;
    cursor: pointer;
}